$light-primary: hsl(44, 42%, 85%);
$dark-primary: hsl(195, 72%, 15%);

html {
    height: 100%;
}

body {
    background-color: $light-primary;
    margin: 0;
    min-height: 100%;
}

nav {
    background-color: $dark-primary;
    color: $light-primary;
}

%article {
    background-color: hsl(0, 100%, 100%);
    margin: 1em auto;
    padding: 0.5em;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    
    /* A singular article should take up all the available space of the parent */
    &:first-of-type:last-of-type {
        height: 100%;
    }
}