nav {

    section {
        margin-bottom: 2em;
    }

    a {
        @extend %action-link;
        color: inherit;
        display: block;
        margin: 0 0 1em;
        font-size: 0.7em;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid $light-primary;

        &::after {
            float: right;
        }
    }
}
