@import "../_root.scss";

.article-metadata {
    font-size: small;
    border-bottom: 1px solid $light-primary-shadowing;

    dd, dt {
        display: inline;
        margin: 0;
    }

    dt {
        color: $light-text;

        &::after {
            content: ":";
        }
    }

    dd {
        margin-right: 2em;
    }
}

.trumbowyg-box {
    border: none;
    position: static;
}

.trumbowyg-button-pane {
    position: sticky;
    top: 0;
}

.trumbowyg-editor {
    padding: 0;
    height: auto !important;
}