<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Robert Treacy{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <section id="content">
            {% block content %}{% endblock %}
            {% block after_content %}{% endblock %}
        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
