{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/compiled/public/style.css') }}" />
{% endblock %}

{% block header %}
    <h1><a href="{{ path('homepage') }}">Robert Treacy</a></h1>
    <nav>
        <a href="{{ path('homepage') }}">Home</a>
        <a href="{{ asset('id_rsa.pub') }}">Public Key</a>
    </nav>
{% endblock %}

{% block after_content %}
    <footer>
        <p>Yours Sincerely, Rob Treacy</p>
    </footer>
{% endblock %}