{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/compiled/admin/style.css') }}" />
{% endblock %}

{% block header %}
    <nav>
        <section id="nav-main">
            <a href="{{ path('admin_dashboard') }}">Dashboard</a>
            <a href="{{ path('homepage') }}">View Site</a>
        </section>
        <section id="nav-articles">
            <a href="{{ path('admin_list_articles') }}">Articles</a>
        </section>
    </nav>
{% endblock %}