p {
    line-height: 1.65em;
    margin-bottom: 2em;
}

%action-link {

    &::after {
        content: " 🡪";
    }
}

%title {
    font-weight: lighter;
    font-size: 2em;
    background: none;
    border: none;
    margin: 1em 0;
}